{% extends 'base.html' %}
{% load bootstrap3 %}

{% block extend_base %}

<div class="container">
    {% include "inventory/include/header.html" %}
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-6">
            <h2>Edit a drone</h2>
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-default" onclick="javascript:window.history.back();return false;">Cancel</button>
                    {% endbuttons %}
                </fieldset>
            </form>
        </div>
    </div>
    <div class="spacer-lg"></div>
</div>

{% endblock extend_base %}