{% load staticfiles bootstrap3 sekizai_tags %}<!DOCTYPE html>
<html>
  <head>
    <title>Pix4D - Drone Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% render_block "css" %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% block extend_base %}{% endblock %}
    <script src="https://code.jquery.com/jquery.js"></script>
    {% bootstrap_javascript %}
    {% render_block "js" %}
  </body>
</html>