{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}

{% block extend_base %}
<div class="container">
    <div class="spacer hidden-xs"></div>
    <div class="row">
        {% include "inventory/include/header.html" %}
        <div class="col-md-6">
            <h1>Login</h1>
            <form action="{% url "user-login-form" %}" method="post">{% csrf_token %}
                <fieldset>
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </fieldset>
            </form>
        </div>
    </div>
    <div class="spacer-lg"></div>
</div>

{% addtoblock "js" %}
<script>
$(function() {
    $('input[name=username]').focus();
});
</script>
{% endaddtoblock %}

{% endblock extend_base %}